<div class="cube-layout">
  <div class="cube-layout__face cube-layout__face--top">
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
    <div class="cube-layout__square cube-layout__square--white"></div>
  </div>
  <div class="cube-layout__face cube-layout__face--left">
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
    <div class="cube-layout__square cube-layout__square--orange"></div>
  </div>
  <div class="cube-layout__face cube-layout__face--front">
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
    <div class="cube-layout__square cube-layout__square--green"></div>
  </div>
  <div class="cube-layout__face cube-layout__face--right">
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
    <div class="cube-layout__square cube-layout__square--red"></div>
  </div>
  <div class="cube-layout__face cube-layout__face--back">
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
    <div class="cube-layout__square cube-layout__square--blue"></div>
  </div>
  <div class="cube-layout__face cube-layout__face--bottom">
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
    <div class="cube-layout__square cube-layout__square--yellow"></div>
  </div>
</div>
