<div class="cube-layout">
  <div class="cube-layout__face cube-layout__face--top">
    @for (square of topFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}" (click)="u()">{{ square.id }}</div>
    }
  </div>
  <div class="cube-layout__face cube-layout__face--left">
    @for (square of leftFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}">{{ square.id }}</div>
    }
  </div>
  <div class="cube-layout__face cube-layout__face--front">
    @for (square of frontFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}" (click)="f()">{{ square.id }}</div>
    }
  </div>
  <div class="cube-layout__face cube-layout__face--right">
    @for (square of rightFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}" (click)="r()">{{ square.id }}</div>
    }
  </div>
  <div class="cube-layout__face cube-layout__face--back">
    @for (square of backFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}">{{ square.id }}</div>
    }
  </div>
  <div class="cube-layout__face cube-layout__face--bottom">
    @for (square of bottomFace.flat(); track square.id) {
      <div class="cube-layout__square cube-layout__square--{{ square.color }}">{{ square.id }}</div>
    }
  </div>
</div>
